@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@* 
<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div> *@

<style>
    li {
        list-style-type: none;
    }

    .success-text {
        color: #3c763d;
        font-size: 12px;
        margin-top: 8px;
    }

    a:hover {
        color: white;
    }
</style>

<div class="login-container">
    <div class="login-user-container">
        <div class="enter-container">
            <a style="align-self:center" href="~/Home">
                <img alt="logo"
                     src="~/images/dwei-logo.png"
                     class="login-user-logo" />
            </a>
            <h1 class="login-user-text"><span>Forget Password</span></h1>
            <span class="login-user-description"><span>Enter your email</span></span>
            <form method="post" class="enter-form">
                <div class="enter-input-label-container">
                    <label asp-for="Input.Email" class="enter-label"><span>Email</span></label>
                    <input asp-for="Input.Email" id="username" autocomplete="username" aria-required="true" type="text" placeholder="Email" class="input" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div id="error-text-div-container" class="login-user-invalid-text"><span asp-validation-for="Input.Email" class="text-danger"></span></div>
                <div class="login-user-submit-container">
                    <a href="./Login"
                       class="register-form-left-button enter-button">
                        <span>Login Page</span>
                    </a>
                    <button type="submit" class="enter-button">
                        <span>Reset</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    @Html.Partial("_FooterGuest")
</div>
<script>
    $("input").focusin(function () {
        $(this).prev("label.enter-label").css("color", "#3282E9");
        if ($("div#error-text-div-container").text().trim() !== "") {
            usernameInput.prev("label.enter-label").addClass("error-label");
            usernameInput.addClass("error-input");
        }
        else {
            usernameInput.prev("label.enter-label").removeClass("error-label");
            usernameInput.removeClass("error-input");
        }
    })
    $("input").focusout(function () {
        $(this).prev("label.enter-label").css("color", "var(--dl-color-gray-700)");
        if ($("div#error-text-div-container").text().trim() !== "") {
            usernameInput.prev("label.enter-label").addClass("error-label");
            usernameInput.addClass("error-input");
        }
        else {
            usernameInput.prev("label.enter-label").removeClass("error-label");
            usernameInput.removeClass("error-input");
        }
    })

    var usernameInput = $("#username");
    $("input").on("input",function () {
        if ( $("div#error-text-div-container").text().trim() !== "") {
            usernameInput.prev("label.enter-label").addClass("error-label");
            usernameInput.addClass("error-input");
        }
        else {
            usernameInput.prev("label.enter-label").removeClass("error-label");
            usernameInput.removeClass("error-input");
        }
    })
    $("button").click(function () {
        // Get the input value
        var emailValue = usernameInput.val().trim();
    // Check if the input is not empty and matches the email format
    var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
    if (emailValue === "" || !emailRegex.test(emailValue)) {
            usernameInput.prev("label.enter-label").addClass("error-label");
            usernameInput.addClass("error-input");
        }
        else{
            usernameInput.prev("label.enter-label").removeClass("error-label");
            usernameInput.removeClass("error-input");
        }
    })
    /*
    if ("Model.validInput" === "True") {
        usernameInput.prev("label.enter-label").removeClass("error-label");
        usernameInput.removeClass("error-input");
        errorTextContainer.addClass("success-text");
    }

    $("button").click(function () {

        if ("Model.validInput" === "True") {
            usernameInput.prev("label.enter-label").removeClass("error-label");
            usernameInput.removeClass("error-input");
            errorTextContainer.addClass("success-text");
        }
        else {
            usernameInput.prev("label.enter-label").addClass("error-label");
            usernameInput.addClass("error-input");
            errorTextContainer.removeClass("success-text");
        }
    })
    */
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
