@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="register-container">
    <div class="register-form-container">
        <div class="enter-container">
            <a style="align-self:center" asp-page="Home">
                <img alt="logo"
                     src="~/images/dwei-logo.png"
                     class="register-form-logo" />
            </a>
            <div class="register-form-instruction-container">
                <div class="register-form-input-container input-container">
                    <h1 class="register-form-text">Reset Password</h1>
                    <span class="register-form-description">
                        <span>Please check your email to reset your password</span>
                    </span>
                    <span class="register-form-confirm-no-margin-text">
                        <span>
                            We’ve sent instructions on how to reset your password. Follow the
                            steps provided in the email to regain access to your account. If
                            you don’t receive the email, remember to check your spam or junk folder.
                        </span>
                    </span>
                    <span class="register-form-confirm-margin-text">
                        <span>
                            Please note that you have 15 minutes to reset your password. After this 
                            time, the link will expire and you'll need to initiate the reset process again.
                        </span>
                    </span>
                    
                </div>
            </div>
            <div class="register-form-button-container">
                <button class="register-form-right-button enter-button">
                    <span>Login Page</span>
                </button>
            </div>
        </div>
    </div>
    @Html.Partial("_FooterGuest")
</div>

<script>
    $(".enter-button").click(function () {
        window.location.href = '/Identity/Account/Login';
    })
</script>