@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
@* 
<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p> *@

<style>
    a:hover {
        color: white;
    }
</style>

<div class="register-container">
    <div class="register-form-container">
        <div class="enter-container">
            <a style="align-self:center" asp-page="Home">
                <img alt="logo"
                     src="~/images/dwei-logo.png"
                     class="register-form-logo" />
            </a>
            <div class="register-form-instruction-container">
                <div class="register-form-input-container input-container">
                    <h1 class="login-user-text"><span>Reset Password Confirmation</span></h1>

                    <span class="register-form-description  success-text">
                        <span>Your password has been successfully reset.</span>
                    </span>
                    <span class="register-form-confirm-no-margin-text success-text">
                        <span>
                            You can now securely log in to your account using your new password.
                            If you have any questions or concerns, please feel free to contact
                            our support team at support@example.com. Thank you for choosing our service!
                        </span>
                    </span>
                    <span class="register-form-confirm-margin-text success-text">
                        <span>
                            Please click login button to log in.
                        </span>
                    </span>
                </div>
            </div>
            <div class="register-form-button-container">
                <button class="register-form-right-button enter-button">
                    <span>Login Page</span>
                </button>
            </div>
        </div>
    </div>
    @Html.Partial("_FooterGuest")
</div>

<script>
    $(".enter-button").click(function () {
        window.location.href = '/Identity/Account/Login';
    })
</script>