@page
@model FYP1.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

@{
    if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_HeaderLogin")
    }
    else
    {
        @Html.Partial("_HeaderGuest")
    }
}

@* About mission and vision section *@
<div>
    <div id="Mission"></div>
    <div id="Vision"></div>
    <div class="about-mission-vision-hero">
        <div class="about-mission-vision-card-list-container">
            <div class="about-mission-vision-card-container about-card">
                <svg viewBox="0 0 1024 1024" class="about-mission-vision-icon">
                    <path d="M981.333 512c0-129.579-52.565-246.997-137.472-331.861s-202.283-137.472-331.861-137.472-246.997 52.565-331.861 137.472-137.472 202.283-137.472 331.861 52.565 246.997 137.472 331.861 202.283 137.472 331.861 137.472 246.997-52.565 331.861-137.472 137.472-202.283 137.472-331.861zM896 512c0 106.069-42.923 201.984-112.469 271.531s-165.461 112.469-271.531 112.469-201.984-42.923-271.531-112.469-112.469-165.461-112.469-271.531 42.923-201.984 112.469-271.531 165.461-112.469 271.531-112.469 201.984 42.923 271.531 112.469 112.469 165.461 112.469 271.531zM810.667 512c0-82.475-33.493-157.184-87.467-211.2s-128.725-87.467-211.2-87.467-157.184 33.493-211.2 87.467-87.467 128.725-87.467 211.2 33.493 157.184 87.467 211.2 128.725 87.467 211.2 87.467 157.184-33.493 211.2-87.467 87.467-128.725 87.467-211.2zM725.333 512c0 58.923-23.851 112.213-62.464 150.869s-91.947 62.464-150.869 62.464-112.213-23.851-150.869-62.464-62.464-91.947-62.464-150.869 23.851-112.213 62.464-150.869 91.947-62.464 150.869-62.464 112.213 23.851 150.869 62.464 62.464 91.947 62.464 150.869zM640 512c0-35.328-14.379-67.413-37.504-90.496s-55.168-37.504-90.496-37.504-67.413 14.379-90.496 37.504-37.504 55.168-37.504 90.496 14.379 67.413 37.504 90.496 55.168 37.504 90.496 37.504 67.413-14.379 90.496-37.504 37.504-55.168 37.504-90.496zM554.667 512c0 11.776-4.736 22.4-12.501 30.165s-18.389 12.501-30.165 12.501-22.4-4.736-30.165-12.501-12.501-18.389-12.501-30.165 4.736-22.4 12.501-30.165 18.389-12.501 30.165-12.501 22.4 4.736 30.165 12.501 12.501 18.389 12.501 30.165z"></path>
                </svg>
                <h2 class="about-mission-vision-sub-header">
                    <span>Mission</span>
                    <br />
                </h2>
                <span class="about-mission-vision-description">
                    <span>Empowering all to effortlessly create and share ebooks</span>
                </span>
                <span class="about-mission-vision-content">
                    <span>
                        We embark on a mission to democratize digital publishing, empowering
                        individuals to effortlessly create and share ebooks. Our
                        user-friendly platform aims to revolutionize digital storytelling
                        for a seamless and enjoyable experience. Unleash your creativity,
                        express your unique voice, and be part of a vibrant community that
                        celebrates diverse narratives and imaginative storytelling.
                    </span>
                </span>
            </div>
            <div class="about-mission-vision-card-container about-card">
                <svg viewBox="0 0 1024 1024" class="about-mission-vision-icon">
                    <path d="M950.857 548.571c-54.286-84-128.571-156-217.714-201.714 22.857 38.857 34.857 83.429 34.857 128.571 0 141.143-114.857 256-256 256s-256-114.857-256-256c0-45.143 12-89.714 34.857-128.571-89.143 45.714-163.429 117.714-217.714 201.714 97.714 150.857 255.429 256 438.857 256s341.143-105.143 438.857-256zM539.429 329.143c0-14.857-12.571-27.429-27.429-27.429-95.429 0-173.714 78.286-173.714 173.714 0 14.857 12.571 27.429 27.429 27.429s27.429-12.571 27.429-27.429c0-65.143 53.714-118.857 118.857-118.857 14.857 0 27.429-12.571 27.429-27.429zM1024 548.571c0 14.286-4.571 27.429-11.429 39.429-105.143 173.143-297.714 289.714-500.571 289.714s-395.429-117.143-500.571-289.714c-6.857-12-11.429-25.143-11.429-39.429s4.571-27.429 11.429-39.429c105.143-172.571 297.714-289.714 500.571-289.714s395.429 117.143 500.571 289.714c6.857 12 11.429 25.143 11.429 39.429z"></path>
                </svg>
                <h2 class="about-mission-vision-sub-header">
                    <span>Vision</span>
                    <br />
                </h2>
                <span class="about-mission-vision-description">
                    <span>Unleashing creativity through accessible digital publishing</span>
                </span>
                <span class="about-mission-vision-content">
                    <span>
                        We envision a world where creativity knows no boundaries, and
                        storytelling is a universal language. Our platform is designed for
                        accessible digital publishing, allowing individuals from diverse
                        backgrounds to effortlessly share their unique narratives. Build a
                        global community of storytellers, where the power of creativity
                        connects people and inspires a new era of digital expression.

                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

@* About why choose us section*@
<div id="Why-Choose-Us" style="display:flex ; justify-content:center">
    <div class="why-choose-us-why-choose-us section-container">
        <h1 class="why-choose-us-text section-header">
            <span>Why choose us?</span>
        </h1>
        <div class="why-choose-us-grid-container">
            <div class="why-choose-us-feature-card">
                <svg viewBox="0 0 1024 1024" class="why-choose-us-icon">
                    <path d="M809.003 291.328l-297.003 171.819-297.003-171.819 275.456-157.397c4.779-2.731 9.899-4.48 15.147-5.333 9.301-1.451 18.987 0.128 27.904 5.291zM491.776 979.669c6.016 3.243 12.928 5.077 20.224 5.077 7.381 0 14.336-1.877 20.395-5.163 15.189-2.475 29.909-7.68 43.392-15.36l298.709-170.709c26.368-15.232 45.269-38.315 55.424-64.597 5.675-14.592 8.619-30.165 8.747-46.251v-341.333c0-20.395-4.821-39.723-13.397-56.917-0.939-3.029-2.219-5.973-3.883-8.832-1.963-3.371-4.267-6.357-6.912-8.96-1.323-1.835-2.731-3.669-4.139-5.419-9.813-12.203-21.845-22.528-35.456-30.507l-299.051-170.88c-26.027-15.019-55.467-19.84-83.328-15.531-15.531 2.432-30.507 7.637-44.288 15.488l-298.709 170.709c-16.341 9.429-29.824 21.888-40.149 36.267-2.56 2.56-4.864 5.547-6.784 8.832-1.664 2.901-2.987 5.888-3.925 8.96-1.707 3.456-3.243 6.955-4.608 10.496-5.632 14.635-8.576 30.208-8.704 45.995v341.632c0.043 30.293 10.581 58.197 28.331 80.128 9.813 12.203 21.845 22.528 35.456 30.507l299.051 170.88c13.824 7.979 28.587 13.099 43.605 15.445zM469.333 537.045v340.949l-277.12-158.336c-4.736-2.773-8.832-6.315-12.16-10.411-5.931-7.381-9.387-16.512-9.387-26.581v-318.379zM554.667 877.995v-340.949l298.667-172.757v318.379c-0.043 5.163-1.067 10.496-2.987 15.445-3.413 8.789-9.6 16.384-18.176 21.333z"></path>
                </svg>
                <div class="why-choose-us-text-container">
                    <h2 class="why-choose-us-sub-heading"><span>User-friendly</span></h2>
                    <span class="why-choose-us-content">
                        <span>
                            Designed for all individuals levels and devices, removing
                            complexities and ensuring the process is user-friendly.
                        </span>
                    </span>
                </div>
            </div>
            <div class="why-choose-us-feature-card">
                <svg viewBox="0 0 1024 1024" class="why-choose-us-icon">
                    <path d="M809.003 291.328l-297.003 171.819-297.003-171.819 275.456-157.397c4.779-2.731 9.899-4.48 15.147-5.333 9.301-1.451 18.987 0.128 27.904 5.291zM491.776 979.669c6.016 3.243 12.928 5.077 20.224 5.077 7.381 0 14.336-1.877 20.395-5.163 15.189-2.475 29.909-7.68 43.392-15.36l298.709-170.709c26.368-15.232 45.269-38.315 55.424-64.597 5.675-14.592 8.619-30.165 8.747-46.251v-341.333c0-20.395-4.821-39.723-13.397-56.917-0.939-3.029-2.219-5.973-3.883-8.832-1.963-3.371-4.267-6.357-6.912-8.96-1.323-1.835-2.731-3.669-4.139-5.419-9.813-12.203-21.845-22.528-35.456-30.507l-299.051-170.88c-26.027-15.019-55.467-19.84-83.328-15.531-15.531 2.432-30.507 7.637-44.288 15.488l-298.709 170.709c-16.341 9.429-29.824 21.888-40.149 36.267-2.56 2.56-4.864 5.547-6.784 8.832-1.664 2.901-2.987 5.888-3.925 8.96-1.707 3.456-3.243 6.955-4.608 10.496-5.632 14.635-8.576 30.208-8.704 45.995v341.632c0.043 30.293 10.581 58.197 28.331 80.128 9.813 12.203 21.845 22.528 35.456 30.507l299.051 170.88c13.824 7.979 28.587 13.099 43.605 15.445zM469.333 537.045v340.949l-277.12-158.336c-4.736-2.773-8.832-6.315-12.16-10.411-5.931-7.381-9.387-16.512-9.387-26.581v-318.379zM554.667 877.995v-340.949l298.667-172.757v318.379c-0.043 5.163-1.067 10.496-2.987 15.445-3.413 8.789-9.6 16.384-18.176 21.333z"></path>
                </svg>
                <div class="why-choose-us-text-container">
                    <h2 class="why-choose-us-sub-heading"><span>Low entry barrier</span></h2>
                    <span class="why-choose-us-content">
                        <span>
                            Seamless onboarding regardless of your skill level or previous experience. Guarantee a smooth start with minimal learning curve.
                        </span>
                    </span>
                </div>
            </div>
            <div class="why-choose-us-feature-card">
                <svg viewBox="0 0 1024 1024" class="why-choose-us-icon">
                    <path d="M809.003 291.328l-297.003 171.819-297.003-171.819 275.456-157.397c4.779-2.731 9.899-4.48 15.147-5.333 9.301-1.451 18.987 0.128 27.904 5.291zM491.776 979.669c6.016 3.243 12.928 5.077 20.224 5.077 7.381 0 14.336-1.877 20.395-5.163 15.189-2.475 29.909-7.68 43.392-15.36l298.709-170.709c26.368-15.232 45.269-38.315 55.424-64.597 5.675-14.592 8.619-30.165 8.747-46.251v-341.333c0-20.395-4.821-39.723-13.397-56.917-0.939-3.029-2.219-5.973-3.883-8.832-1.963-3.371-4.267-6.357-6.912-8.96-1.323-1.835-2.731-3.669-4.139-5.419-9.813-12.203-21.845-22.528-35.456-30.507l-299.051-170.88c-26.027-15.019-55.467-19.84-83.328-15.531-15.531 2.432-30.507 7.637-44.288 15.488l-298.709 170.709c-16.341 9.429-29.824 21.888-40.149 36.267-2.56 2.56-4.864 5.547-6.784 8.832-1.664 2.901-2.987 5.888-3.925 8.96-1.707 3.456-3.243 6.955-4.608 10.496-5.632 14.635-8.576 30.208-8.704 45.995v341.632c0.043 30.293 10.581 58.197 28.331 80.128 9.813 12.203 21.845 22.528 35.456 30.507l299.051 170.88c13.824 7.979 28.587 13.099 43.605 15.445zM469.333 537.045v340.949l-277.12-158.336c-4.736-2.773-8.832-6.315-12.16-10.411-5.931-7.381-9.387-16.512-9.387-26.581v-318.379zM554.667 877.995v-340.949l298.667-172.757v318.379c-0.043 5.163-1.067 10.496-2.987 15.445-3.413 8.789-9.6 16.384-18.176 21.333z"></path>
                </svg>
                <div class="why-choose-us-text-container">
                    <h2 class="why-choose-us-sub-heading"><span>Community support</span></h2>
                    <span class="why-choose-us-content">
                        <span>
                            Offer a wealth of helpful resources, guidelines, and support to aid creators at every step of their journey.
                        </span>
                    </span>
                </div>
            </div>
            <div class="why-choose-us-feature-card">
                <svg viewBox="0 0 1024 1024" class="why-choose-us-icon">
                    <path d="M809.003 291.328l-297.003 171.819-297.003-171.819 275.456-157.397c4.779-2.731 9.899-4.48 15.147-5.333 9.301-1.451 18.987 0.128 27.904 5.291zM491.776 979.669c6.016 3.243 12.928 5.077 20.224 5.077 7.381 0 14.336-1.877 20.395-5.163 15.189-2.475 29.909-7.68 43.392-15.36l298.709-170.709c26.368-15.232 45.269-38.315 55.424-64.597 5.675-14.592 8.619-30.165 8.747-46.251v-341.333c0-20.395-4.821-39.723-13.397-56.917-0.939-3.029-2.219-5.973-3.883-8.832-1.963-3.371-4.267-6.357-6.912-8.96-1.323-1.835-2.731-3.669-4.139-5.419-9.813-12.203-21.845-22.528-35.456-30.507l-299.051-170.88c-26.027-15.019-55.467-19.84-83.328-15.531-15.531 2.432-30.507 7.637-44.288 15.488l-298.709 170.709c-16.341 9.429-29.824 21.888-40.149 36.267-2.56 2.56-4.864 5.547-6.784 8.832-1.664 2.901-2.987 5.888-3.925 8.96-1.707 3.456-3.243 6.955-4.608 10.496-5.632 14.635-8.576 30.208-8.704 45.995v341.632c0.043 30.293 10.581 58.197 28.331 80.128 9.813 12.203 21.845 22.528 35.456 30.507l299.051 170.88c13.824 7.979 28.587 13.099 43.605 15.445zM469.333 537.045v340.949l-277.12-158.336c-4.736-2.773-8.832-6.315-12.16-10.411-5.931-7.381-9.387-16.512-9.387-26.581v-318.379zM554.667 877.995v-340.949l298.667-172.757v318.379c-0.043 5.163-1.067 10.496-2.987 15.445-3.413 8.789-9.6 16.384-18.176 21.333z"></path>
                </svg>
                <div class="why-choose-us-text-container">
                    <h2 class="why-choose-us-sub-heading"><span>Cost-free</span></h2>
                    <span class="why-choose-us-content">
                        <span>
                            Embrace creative freedom without financial constraints. We provides essential tools and features for free.
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_FooterGuest")
<script>
    $(document).ready(function(){
        $("#create-button").click(function(){
            window.location.href = '/eBooks/Dashboard';
        })

        $("#more-option").css("display","none");
    })
</script>

