@page
@model FYP1.Pages.FeatureModel
@{
    ViewData["Title"] = "Feature";
}


@{
    if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_HeaderLogin")
    }
    else
    {
        @Html.Partial("_HeaderGuest")
    }
}

<div>
    <div class="feature-page-container">
        <div id="Products" class="feature-page-product-container">
            <div style="padding-top:48px"class="section-container">
                <h1 class="feature-page-product-heading section-header">Products</h1>
                <div class="feature-page-product-list-container">
                    <div class="feature-page-left-product-card about-card">
                        <div class="feature-page-hover-container">
                            <span class="feature-page-hover-text">
                                Create and Design Your Own eBook
                            </span>
                        </div>
                    </div>
                    <div class="feature-page-right-product-card about-card">
                        <div class="feature-page-hover-container">
                            <span class="feature-page-hover-text">
                                Collaboration Options
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Services" class="feature-page-service-container">
            <div class="feature-page-service-vertical-container section-container">
                <h1 class="feature-page-service-heading section-header">Services</h1>
                <div class="feature-page-service-gallery">
                    <div class="feature-page-gallery" style="grid-area: a; background-image:url(./images/services-1.jpeg)">
                        <div class="feature-page-gallery-container">
                            <h1 class="feature-page-gallery-heading">Ebook Creation Tools</h1>
                            <span class="feature-page-gallery-text">
                                <span>Comprehensive, versatile, user-friendly</span>
                            </span>
                        </div>
                    </div>
                    <div class="feature-page-gallery" style="grid-area: b;background-image:url(./images/services-2.jpeg)">
                        <div class="feature-page-gallery-container">
                            <h1 class="feature-page-gallery-heading">Template Library</h1>
                            <span class="feature-page-gallery-text">
                                <span>Extensive, diverse, professionally-designed</span>
                            </span>
                        </div>
                    </div>
                    <div class="feature-page-gallery" style="grid-area: c;background-image:url(./images/services-3.jpg)">
                        <div class="feature-page-gallery-container">
                            <h1 class="feature-page-gallery-heading">Customizable Designs</h1>
                            <span class="feature-page-gallery-text">
                                <span>Flexible, innovative, visually appealing</span>
                            </span>
                        </div>
                    </div>
                    <div class="feature-page-gallery" style="grid-area: d;background-image:url(./images/services-4.jpg)">
                        <div class="feature-page-gallery-container">
                            <h1 class="feature-page-gallery-heading">Collaboration Features</h1>
                            <span class="feature-page-gallery-text">
                                <span>Seamless, efficient, real-time</span>
                            </span>
                        </div>
                    </div>
                    <div class="feature-page-gallery" style="grid-area: e;background-image:url(./images/services-5.jpg)">
                        <div class="feature-page-gallery-container">
                            <h1 class="feature-page-gallery-heading">Publishing Assistance</h1>
                            <span class="feature-page-gallery-text">
                                <span>Expert, guided, hassle-free</span>
                            </span>
                        </div>
                    </div>
                    <div class="feature-page-gallery" style="grid-area: f;background-image:url(./images/services-6.jpg)">
                        <div class="feature-page-gallery-container">
                            <h1 class="feature-page-gallery-heading">Customer Support and Assistance</h1>
                            <span class="feature-page-gallery-text">
                                <span>Responsive, knowledgeable, dedicated</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="Capabilities" class="feature-page-capability-container">
            <div class="feature-page-capability-vertical-container section-container">
                <h1 class="feature-page-capability-heading section-header">
                    Capabilities
                </h1>
                <div class="feature-page-blog-list-container">
                    <div class="feature-page-blog-container">
                        <div class="blog-post-card-blog-post-card blog-post-card-root-class-name8">
                            <img alt="image"
                                 src="~/images/capability-1.jpg"
                                 class="blog-post-card-image" />
                            <div class="blog-post-card-content-container">
                                <span class="blog-post-card-type"><span>DESIGN</span></span>
                                <span class="blog-post-card-title">
                                    <span>Drag-and-drop interface for easy layout customization</span>
                                </span>
                                <span class="blog-post-card-description">
                                    <span>
                                        Our intuitive drag-and-drop interface allows you to effortlessly arrange elements, adjust sizes, and create visually stunning layouts with minimal effort. Say goodbye to complex design software and hello to streamlined ebook creation.
                                    </span>
                                </span>
                                <div class="blog-post-card-profile-container">
                                    <div class="blog-post-card-profile">
                                        <img alt="profile"
                                             src="~/images/home-testi-1.jpeg"
                                             class="blog-post-card-profile-image" />
                                        <span class="blog-post-card-name">
                                            <span>Maya Patel</span>
                                        </span>
                                    </div>
                                    <span class="blog-post-card-read-time">
                                        <span>5 min read</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feature-page-blog-container">
                        <div class="blog-post-card-blog-post-card blog-post-card-root-class-name8">
                            <img alt="image"
                                 src="~/images/capability-2.jpg"
                                 class="blog-post-card-image" />
                            <div class="blog-post-card-content-container">
                                <span class="blog-post-card-type"><span>TOOLS</span></span>
                                <span class="blog-post-card-title">
                                    <span>Integration with cloud storage</span>
                                </span>
                                <span class="blog-post-card-description">
                                    <span>
                                        With seamless integration with popular cloud storage services like Microsoft Storage, Google Drive and Dropbox, you can access your files from anywhere, anytime. Enjoy the convenience of syncing your work across devices and never worry about losing your progress again.
                                    </span>
                                </span>
                                <div class="blog-post-card-profile-container">
                                    <div class="blog-post-card-profile">
                                        <img alt="profile"
                                             src="~/images/home-testi-2.jpeg"
                                             class="blog-post-card-profile-image" />
                                        <span class="blog-post-card-name">
                                            <span>Elijah Johnson</span>
                                        </span>
                                    </div>
                                    <span class="blog-post-card-read-time">
                                        <span>5 min read</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feature-page-blog-last-container">
                        <div class="blog-post-card-blog-post-card blog-post-card-root-class-name8">
                            <img alt="image"
                                 src="~/images/capability-3.jpg"
                                 class="blog-post-card-image" />
                            <div class="blog-post-card-content-container">
                                <span class="blog-post-card-type"><span>DESIGN</span></span>
                                <span class="blog-post-card-title">
                                    <span>Built-in proofreading and editing tools</span>
                                </span>
                                <span class="blog-post-card-description">
                                    <span>
                                        Our built-in proofreading and editing tools empower you to polish your content to perfection. From spell-checking to grammar correction, our comprehensive suite of editing features ensures that your ebook is error-free.
                                    </span>
                                </span>
                                <div class="blog-post-card-profile-container">
                                    <div class="blog-post-card-profile">
                                        <img alt="profile"
                                             src="~/images/home-testi-3.jpeg"
                                             class="blog-post-card-profile-image" />
                                        <span class="blog-post-card-name">
                                            <span>Sophia Nguyen</span>
                                        </span>
                                    </div>
                                    <span class="blog-post-card-read-time">
                                        <span>5 min read</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#create-button").click(function(){
            window.location.href = '/eBooks/Dashboard';
        })
    })
</script>

@Html.Partial("_FooterGuest")
