@page
@model FYP1.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
}

@{
    if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_HeaderLogin")
    }
    else
    {
        @Html.Partial("_HeaderGuest")
    }
}
@Html.AntiForgeryToken()
@* Home Hero Section *@
<div>
    <div class="home-hero-hero">
        <h1 class="home-hero-text">
            <span>Write, Design, Publish </span>
            <br />
            <span>Your eBook Oasis</span>
        </h1>
        <span class="home-hero-description">
            <span>
                Unlock Your Creativity and Share Your Story with Our Intuitive eBook
                Maker – Craft, Publish, and Reach Your Readers Easily!
            </span>
        </span>
        <a style="z-index:1" asp-area="Identity" asp-page="/Account/Register">
            <button class="home-hero-get-started-button button">
                <span>Get Started</span>
            </button>
        </a>
        <img alt="image" src="~/images/home-hero.png" class="home-hero-image" />
    </div>
</div>

@* Home about banner section *@
<div>
    <div class="home-about-banner-banner">
        <h1 class="section-header"><span>About Us</span></h1>
        <span class="home-about-banner-description">
            We&apos;re on a mission to democratize ebook creation. Our platform is
            tailored to empower individuals, regardless of their background, to
            express their creativity effortlessly. Whether you&apos;re an aspiring
            author or have a unique story to share, we&apos;re here to assist you in
            bringing your ideas to life. Join us as we celebrate diverse voices and
            unique stories within our community.
        </span>
        <a asp-page="About">
            <button class="home-about-banner-about-button button">
                <span>LEARN MORE</span>
            </button>
        </a>
    </div>
</div>

@* home feature card section*@
<div>
    <div class="home-feature-features">
        <div class="home-feature-vertical-container home-feature-container">
            <h1 class="home-feature-text section-header">
                <span>What we offer?</span>
                <br />
            </h1>
            <span class="home-feature-description">
                <span>
                    Discover our comprehensive platform that empowers your creativity,
                    making eBook creation a seamless and enjoyable experience.
                </span>
            </span>
            <div class="home-feature-feature-grid-container">
                <div class="card-feature-card card-root-class-name">
                    <svg viewBox="0 0 1024 1024" class="card-icon">
                        <path d="M809.003 291.328l-297.003 171.819-297.003-171.819 275.456-157.397c4.779-2.731 9.899-4.48 15.147-5.333 9.301-1.451 18.987 0.128 27.904 5.291zM491.776 979.669c6.016 3.243 12.928 5.077 20.224 5.077 7.381 0 14.336-1.877 20.395-5.163 15.189-2.475 29.909-7.68 43.392-15.36l298.709-170.709c26.368-15.232 45.269-38.315 55.424-64.597 5.675-14.592 8.619-30.165 8.747-46.251v-341.333c0-20.395-4.821-39.723-13.397-56.917-0.939-3.029-2.219-5.973-3.883-8.832-1.963-3.371-4.267-6.357-6.912-8.96-1.323-1.835-2.731-3.669-4.139-5.419-9.813-12.203-21.845-22.528-35.456-30.507l-299.051-170.88c-26.027-15.019-55.467-19.84-83.328-15.531-15.531 2.432-30.507 7.637-44.288 15.488l-298.709 170.709c-16.341 9.429-29.824 21.888-40.149 36.267-2.56 2.56-4.864 5.547-6.784 8.832-1.664 2.901-2.987 5.888-3.925 8.96-1.707 3.456-3.243 6.955-4.608 10.496-5.632 14.635-8.576 30.208-8.704 45.995v341.632c0.043 30.293 10.581 58.197 28.331 80.128 9.813 12.203 21.845 22.528 35.456 30.507l299.051 170.88c13.824 7.979 28.587 13.099 43.605 15.445zM469.333 537.045v340.949l-277.12-158.336c-4.736-2.773-8.832-6.315-12.16-10.411-5.931-7.381-9.387-16.512-9.387-26.581v-318.379zM554.667 877.995v-340.949l298.667-172.757v318.379c-0.043 5.163-1.067 10.496-2.987 15.445-3.413 8.789-9.6 16.384-18.176 21.333z"></path>
                    </svg>
                    <h2 class="card-heading"><span>Creative Design Tools</span></h2>
                    <span class="card-text">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
                    </span>
                </div>
                <div class="card-feature-card card-root-class-name">
                    <svg viewBox="0 0 1024 1024" class="card-icon">
                        <path d="M809.003 291.328l-297.003 171.819-297.003-171.819 275.456-157.397c4.779-2.731 9.899-4.48 15.147-5.333 9.301-1.451 18.987 0.128 27.904 5.291zM491.776 979.669c6.016 3.243 12.928 5.077 20.224 5.077 7.381 0 14.336-1.877 20.395-5.163 15.189-2.475 29.909-7.68 43.392-15.36l298.709-170.709c26.368-15.232 45.269-38.315 55.424-64.597 5.675-14.592 8.619-30.165 8.747-46.251v-341.333c0-20.395-4.821-39.723-13.397-56.917-0.939-3.029-2.219-5.973-3.883-8.832-1.963-3.371-4.267-6.357-6.912-8.96-1.323-1.835-2.731-3.669-4.139-5.419-9.813-12.203-21.845-22.528-35.456-30.507l-299.051-170.88c-26.027-15.019-55.467-19.84-83.328-15.531-15.531 2.432-30.507 7.637-44.288 15.488l-298.709 170.709c-16.341 9.429-29.824 21.888-40.149 36.267-2.56 2.56-4.864 5.547-6.784 8.832-1.664 2.901-2.987 5.888-3.925 8.96-1.707 3.456-3.243 6.955-4.608 10.496-5.632 14.635-8.576 30.208-8.704 45.995v341.632c0.043 30.293 10.581 58.197 28.331 80.128 9.813 12.203 21.845 22.528 35.456 30.507l299.051 170.88c13.824 7.979 28.587 13.099 43.605 15.445zM469.333 537.045v340.949l-277.12-158.336c-4.736-2.773-8.832-6.315-12.16-10.411-5.931-7.381-9.387-16.512-9.387-26.581v-318.379zM554.667 877.995v-340.949l298.667-172.757v318.379c-0.043 5.163-1.067 10.496-2.987 15.445-3.413 8.789-9.6 16.384-18.176 21.333z"></path>
                    </svg>
                    <h2 class="card-heading"><span>Creative Design Tools</span></h2>
                    <span class="card-text">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
                    </span>
                </div>
                <div class="card-feature-card card-root-class-name">
                    <svg viewBox="0 0 1024 1024" class="card-icon">
                        <path d="M809.003 291.328l-297.003 171.819-297.003-171.819 275.456-157.397c4.779-2.731 9.899-4.48 15.147-5.333 9.301-1.451 18.987 0.128 27.904 5.291zM491.776 979.669c6.016 3.243 12.928 5.077 20.224 5.077 7.381 0 14.336-1.877 20.395-5.163 15.189-2.475 29.909-7.68 43.392-15.36l298.709-170.709c26.368-15.232 45.269-38.315 55.424-64.597 5.675-14.592 8.619-30.165 8.747-46.251v-341.333c0-20.395-4.821-39.723-13.397-56.917-0.939-3.029-2.219-5.973-3.883-8.832-1.963-3.371-4.267-6.357-6.912-8.96-1.323-1.835-2.731-3.669-4.139-5.419-9.813-12.203-21.845-22.528-35.456-30.507l-299.051-170.88c-26.027-15.019-55.467-19.84-83.328-15.531-15.531 2.432-30.507 7.637-44.288 15.488l-298.709 170.709c-16.341 9.429-29.824 21.888-40.149 36.267-2.56 2.56-4.864 5.547-6.784 8.832-1.664 2.901-2.987 5.888-3.925 8.96-1.707 3.456-3.243 6.955-4.608 10.496-5.632 14.635-8.576 30.208-8.704 45.995v341.632c0.043 30.293 10.581 58.197 28.331 80.128 9.813 12.203 21.845 22.528 35.456 30.507l299.051 170.88c13.824 7.979 28.587 13.099 43.605 15.445zM469.333 537.045v340.949l-277.12-158.336c-4.736-2.773-8.832-6.315-12.16-10.411-5.931-7.381-9.387-16.512-9.387-26.581v-318.379zM554.667 877.995v-340.949l298.667-172.757v318.379c-0.043 5.163-1.067 10.496-2.987 15.445-3.413 8.789-9.6 16.384-18.176 21.333z"></path>
                    </svg>
                    <h2 class="card-heading"><span>Creative Design Tools</span></h2>
                    <span class="card-text">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
                    </span>
                </div>
                <div class="card-feature-card card-root-class-name">
                    <svg viewBox="0 0 1024 1024" class="card-icon">
                        <path d="M809.003 291.328l-297.003 171.819-297.003-171.819 275.456-157.397c4.779-2.731 9.899-4.48 15.147-5.333 9.301-1.451 18.987 0.128 27.904 5.291zM491.776 979.669c6.016 3.243 12.928 5.077 20.224 5.077 7.381 0 14.336-1.877 20.395-5.163 15.189-2.475 29.909-7.68 43.392-15.36l298.709-170.709c26.368-15.232 45.269-38.315 55.424-64.597 5.675-14.592 8.619-30.165 8.747-46.251v-341.333c0-20.395-4.821-39.723-13.397-56.917-0.939-3.029-2.219-5.973-3.883-8.832-1.963-3.371-4.267-6.357-6.912-8.96-1.323-1.835-2.731-3.669-4.139-5.419-9.813-12.203-21.845-22.528-35.456-30.507l-299.051-170.88c-26.027-15.019-55.467-19.84-83.328-15.531-15.531 2.432-30.507 7.637-44.288 15.488l-298.709 170.709c-16.341 9.429-29.824 21.888-40.149 36.267-2.56 2.56-4.864 5.547-6.784 8.832-1.664 2.901-2.987 5.888-3.925 8.96-1.707 3.456-3.243 6.955-4.608 10.496-5.632 14.635-8.576 30.208-8.704 45.995v341.632c0.043 30.293 10.581 58.197 28.331 80.128 9.813 12.203 21.845 22.528 35.456 30.507l299.051 170.88c13.824 7.979 28.587 13.099 43.605 15.445zM469.333 537.045v340.949l-277.12-158.336c-4.736-2.773-8.832-6.315-12.16-10.411-5.931-7.381-9.387-16.512-9.387-26.581v-318.379zM554.667 877.995v-340.949l298.667-172.757v318.379c-0.043 5.163-1.067 10.496-2.987 15.445-3.413 8.789-9.6 16.384-18.176 21.333z"></path>
                    </svg>
                    <h2 class="card-heading"><span>Creative Design Tools</span></h2>
                    <span class="card-text">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
                    </span>
                </div>
            </div>
            <a asp-page="Feature">
                <button class="home-feature-feature-button button">
                    <span>See Details</span>
                </button>
            </a>
        </div>
    </div>
</div>

@* Home help section *@
<div>
    <div class="home-help-container">
        <div class="section-container">
            <h1 class="section-header">Discover Our Process</h1>
            <span class="home-help-description">
                <span>
                    Unlock the secrets of eBook creation with our streamlined process – a
                    harmonious blend of simplicity, creativity, and innovation.
                </span>
                <br />
            </span>
            <div class="home-help-step-list-container">
                <div class="home-help-step-container">
                    <div class="home-help-diagram-container">
                        <div class="home-help-transparent-line"></div>
                        <div class="home-help-icon-container">
                            <svg viewBox="0 0 1024 1024" class="home-help-icon">
                                <path d="M634 558q92-64 92-174 0-88-63-151t-151-63-151 63-63 151q0 46 27 96t65 78l36 26v98h172v-98zM512 86q124 0 211 87t87 211q0 156-128 244v98q0 18-12 30t-30 12h-256q-18 0-30-12t-12-30v-98q-128-88-128-244 0-124 87-211t211-87zM384 896v-42h256v42q0 18-12 30t-30 12h-172q-18 0-30-12t-12-30z"></path>
                            </svg>
                        </div>
                        <div class="home-help-dash-line"></div>
                    </div>
                    <div class="home-help-text-container">
                        <h1 class="home-help-step-header"><span>Ideate</span></h1>
                        <span class="home-help-step-text">
                            Spark ideas and outline your ebook concept.
                        </span>
                    </div>
                </div>
                <div class="home-help-step-container">
                    <div class="home-help-diagram-container">
                        <div class="home-help-transparent-line"></div>
                        <div class="home-help-icon-container">
                            <svg viewBox="0 0 1024 1024" class="home-help-icon">
                                <path d="M746 512q26 0 45-18t19-46-19-46-45-18-45 18-19 46 19 46 45 18zM618 342q26 0 45-19t19-45-19-45-45-19-45 19-19 45 19 45 45 19zM406 342q26 0 45-19t19-45-19-45-45-19-45 19-19 45 19 45 45 19zM278 512q26 0 45-18t19-46-19-46-45-18-45 18-19 46 19 46 45 18zM512 128q158 0 271 100t113 242q0 88-63 150t-151 62h-74q-28 0-46 19t-18 45q0 22 16 42t16 44q0 28-18 46t-46 18q-160 0-272-112t-112-272 112-272 272-112z"></path>
                            </svg>
                        </div>
                        <div class="home-help-dash-line"></div>
                    </div>
                    <div class="home-help-text-container">
                        <h1 class="home-help-step-header"><span>Design</span></h1>
                        <span class="home-help-step-text">
                            Create visually appealing layouts and cover designs.
                        </span>
                    </div>
                </div>
                <div class="home-help-step-container">
                    <div class="home-help-diagram-container">
                        <div class="home-help-transparent-line"></div>
                        <div class="home-help-icon-container">
                            <svg viewBox="0 0 1024 1024" class="home-help-icon">
                                <path d="M576 736l96 96 320-320-320-320-96 96 224 224z"></path>
                                <path d="M448 288l-96-96-320 320 320 320 96-96-224-224z"></path>
                            </svg>
                        </div>
                        <div class="home-help-dash-line"></div>
                    </div>
                    <div class="home-help-text-container">
                        <h1 class="home-help-step-header"><span>Develop</span></h1>
                        <span class="home-help-step-text">
                            Craft content, format, and enhance your ebook.
                        </span>
                    </div>
                </div>
                <div class="home-help-step-container">
                    <div class="home-help-diagram-container">
                        <div class="home-help-transparent-line"></div>
                        <div class="home-help-icon-container">
                            <svg viewBox="0 0 1024 1024" class="home-help-icon">
                                <path d="M480 64c-265.096 0-480 214.904-480 480 0 265.098 214.904 480 480 480 265.098 0 480-214.902 480-480 0-265.096-214.902-480-480-480zM751.59 704c8.58-40.454 13.996-83.392 15.758-128h127.446c-3.336 44.196-13.624 87.114-30.68 128h-112.524zM208.41 384c-8.58 40.454-13.996 83.392-15.758 128h-127.444c3.336-44.194 13.622-87.114 30.678-128h112.524zM686.036 384c9.614 40.962 15.398 83.854 17.28 128h-191.316v-128h174.036zM512 320v-187.338c14.59 4.246 29.044 11.37 43.228 21.37 26.582 18.74 52.012 47.608 73.54 83.486 14.882 24.802 27.752 52.416 38.496 82.484h-155.264zM331.232 237.516c21.528-35.878 46.956-64.748 73.54-83.486 14.182-10 28.638-17.124 43.228-21.37v187.34h-155.264c10.746-30.066 23.616-57.68 38.496-82.484zM448 384v128h-191.314c1.88-44.146 7.666-87.038 17.278-128h174.036zM95.888 704c-17.056-40.886-27.342-83.804-30.678-128h127.444c1.762 44.608 7.178 87.546 15.758 128h-112.524zM256.686 576h191.314v128h-174.036c-9.612-40.96-15.398-83.854-17.278-128zM448 768v187.34c-14.588-4.246-29.044-11.372-43.228-21.37-26.584-18.74-52.014-47.61-73.54-83.486-14.882-24.804-27.75-52.418-38.498-82.484h155.266zM628.768 850.484c-21.528 35.876-46.958 64.746-73.54 83.486-14.184 9.998-28.638 17.124-43.228 21.37v-187.34h155.266c-10.746 30.066-23.616 57.68-38.498 82.484zM512 704v-128h191.314c-1.88 44.146-7.666 87.040-17.28 128h-174.034zM767.348 512c-1.762-44.608-7.178-87.546-15.758-128h112.524c17.056 40.886 27.344 83.806 30.68 128h-127.446zM830.658 320h-95.9c-18.638-58.762-44.376-110.294-75.316-151.428 42.536 20.34 81.058 47.616 114.714 81.272 21.48 21.478 40.362 44.938 56.502 70.156zM185.844 249.844c33.658-33.658 72.18-60.932 114.714-81.272-30.942 41.134-56.676 92.666-75.316 151.428h-95.898c16.138-25.218 35.022-48.678 56.5-70.156zM129.344 768h95.898c18.64 58.762 44.376 110.294 75.318 151.43-42.536-20.34-81.058-47.616-114.714-81.274-21.48-21.478-40.364-44.938-56.502-70.156zM774.156 838.156c-33.656 33.658-72.18 60.934-114.714 81.274 30.942-41.134 56.678-92.668 75.316-151.43h95.9c-16.14 25.218-35.022 48.678-56.502 70.156z"></path>
                            </svg>
                        </div>
                        <div class="home-help-dash-line"></div>
                    </div>
                    <div class="home-help-text-container">
                        <h1 class="home-help-step-header"><span>Deploy</span></h1>
                        <span class="home-help-step-text">
                            Publish and share your completed ebook.
                        </span>
                    </div>
                </div>
            </div>
            <a asp-page="Help">
                <div class="home-help-btn-group">
                    <button class="home-help-button button">EXPLORE MORE</button>
                </div>
            </a>
        </div>
    </div>
</div>

@* Home customer said section*@
<div>
    <div class="home-customer-said-testimonial-card">
        <div class="home-customer-said-customer-container">
            <h1 class="home-customer-said-text section-header">
                <span>What they’re saying</span>
            </h1>
            <span class="home-customer-said-description">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
                    volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
                    dignissim tortor.
                </span>
            </span>
            <div class="home-customer-said-testimonial-list-container">
                <div class="testimonial-card-testimonial-card testimonial-card-root-class-name3">
                    <svg viewBox="0 0 950.8571428571428 1024"
                         class="testimonial-card-quote-icon">
                        <path d="M438.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714zM950.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714z"></path>
                    </svg>
                    <div class="testimonial-card-testimonial">
                        <span class="testimonial-card-comment">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                                lorem lorem, malesuada in metus vitae, scelerisque accumsan
                                ipsum. Nam pellentesque nulla leo, sagittis vehicula sem commodo
                                nec.
                            </span>
                        </span>
                        <span class="testimonial-card-name"><span>Jane Doe</span></span>
                        <span class="testimonial-card-occupation">
                            <span>SOFTWARE ENGINEER</span>
                        </span>
                        <img alt="profile"
                             src="https://images.unsplash.com/photo-1557053910-d9eadeed1c58?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdvbWFuJTIwcG9ydHJhaXR8ZW58MHx8fHwxNjI2NDUxOTgy&ixlib=rb-1.2.1&h=1200"
                             class="testimonial-card-profile-pic" />
                    </div>
                </div>
                                <div class="testimonial-card-testimonial-card testimonial-card-root-class-name3">
                    <svg viewBox="0 0 950.8571428571428 1024"
                         class="testimonial-card-quote-icon">
                        <path d="M438.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714zM950.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714z"></path>
                    </svg>
                    <div class="testimonial-card-testimonial">
                        <span class="testimonial-card-comment">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                                lorem lorem, malesuada in metus vitae, scelerisque accumsan
                                ipsum. Nam pellentesque nulla leo, sagittis vehicula sem commodo
                                nec.
                            </span>
                        </span>
                        <span class="testimonial-card-name"><span>Jane Doe</span></span>
                        <span class="testimonial-card-occupation">
                            <span>SOFTWARE ENGINEER</span>
                        </span>
                        <img alt="profile"
                             src="https://images.unsplash.com/photo-1557053910-d9eadeed1c58?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdvbWFuJTIwcG9ydHJhaXR8ZW58MHx8fHwxNjI2NDUxOTgy&ixlib=rb-1.2.1&h=1200"
                             class="testimonial-card-profile-pic" />
                    </div>
                </div>
                <div class="testimonial-card-testimonial-card testimonial-card-root-class-name3">
                    <svg viewBox="0 0 950.8571428571428 1024"
                         class="testimonial-card-quote-icon">
                        <path d="M438.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714zM950.857 182.857v402.286c0 161.143-131.429 292.571-292.571 292.571h-36.571c-20 0-36.571-16.571-36.571-36.571v-73.143c0-20 16.571-36.571 36.571-36.571h36.571c80.571 0 146.286-65.714 146.286-146.286v-18.286c0-30.286-24.571-54.857-54.857-54.857h-128c-60.571 0-109.714-49.143-109.714-109.714v-219.429c0-60.571 49.143-109.714 109.714-109.714h219.429c60.571 0 109.714 49.143 109.714 109.714z"></path>
                    </svg>
                    <div class="testimonial-card-testimonial">
                        <span class="testimonial-card-comment">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
                                lorem lorem, malesuada in metus vitae, scelerisque accumsan
                                ipsum. Nam pellentesque nulla leo, sagittis vehicula sem commodo
                                nec.
                            </span>
                        </span>
                        <span class="testimonial-card-name"><span>Jane Doe</span></span>
                        <span class="testimonial-card-occupation">
                            <span>SOFTWARE ENGINEER</span>
                        </span>
                        <img alt="profile"
                             src="https://images.unsplash.com/photo-1557053910-d9eadeed1c58?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdvbWFuJTIwcG9ydHJhaXR8ZW58MHx8fHwxNjI2NDUxOTgy&ixlib=rb-1.2.1&h=1200"
                             class="testimonial-card-profile-pic" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@Html.Partial("_FooterGuest")


<script>
    $(document).ready(function(){
        $("#create-button").click(function(){
            window.location.href = '/eBooks/Dashboard';
        })
    })
</script>
