@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
body {
    font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {

}

/* Center the content in the browser window */
.container {

    text-align: center;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        align-items:center;
        justify-content:center;
        position:fixed;
}

.title {
    font-size: 3rem;
}
</style>
  <div class="container">
      <h1 class="title">Redirect to Home Page....</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      window.location.replace("Home");
    });

  </script>


