@page
@model PrivacyMode2l
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html>
<head>
    <title>Send Mail</title>
</head>
<body>
    <form method="post">
        <table align="center" width="60%">
            <tr>
                <td>to</td>
                <td>
@*                     <input asp-for="To" class="form-control" />
                    <span asp-validation-for="To" class="text-danger"></span> *@
                </td>
            </tr>
            <!-- Add similar formatting for other form elements -->
        </table>
        <button type="submit">Send</button>
    </form>
</body>
</html>