<style>
    button{
        cursor:pointer;
    }
    span.button:hover{
            background-color: rgba(64,87,109,.07);
    }
</style>
<div class="header-login-container">
    <header data-role="Header" class="header-login-content">
        <div class="header-login-left-group">
            <button id="more-option" type="button" class="header-login-sidebar-trigger-button" style="padding:8px">
                <svg viewBox="0 0 1024 1024" class="header-login-sidebar-icon">
                    <path d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"></path>
                </svg>
            </button>
            <a href="~/Home"><img alt="logo" src="~/images/dwei-logo.png" class="header-guest-image" /></a>
            @* navigation link*@
            @Html.Partial("_HeaderNavLink")
        </div>
        <div class="header-login-right-group">
            <button id="create-button" class="header-login-create">
                <span class="button">
                    <span class="header-login-text">Dashboard</span>
                    <br />
                </span>
            </button>
            @* <img id="profile-image" alt="image" src="~/images/default_people_icon.png" class="header-login-profile-pic" /> *@

            @* <div id="profile-image" alt="image" class="header-login-profile-pic" style="background-image: url(data:image/jpg;base64,@Model.curUser.imageData)"> *@
            <div id="profile-image" alt="image" class="header-login-profile-pic" style="background-image: url(data:image/jpg;base64,@(Model.curUser != null && !string.IsNullOrEmpty(Model.curUser.imageData) ? Model.curUser.imageData : ""))">
                @Html.Partial("_ProfileExpand")
            </div>
        </div>
    </header>
</div>

<div>
    <div class="sidebar-guest-container">
        <div class="sidebar-guest-sidebar">
            <nav class="sidebar-guest-nav-container">
                <div class="sidebar-guest-nav sidebar-guest-nav-home">
                    <span class="sidebar-guest-nav-text">Home</span>
                    <svg viewBox="0 0 1024 1024" class="sidebar-guest-arrow-icon">
                        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
                    </svg>
                </div>
                <div class="sidebar-guest-nav sidebar-guest-nav-about">
                    <span class="sidebar-guest-nav-text">About</span>
                    <svg viewBox="0 0 1024 1024" class="sidebar-guest-arrow-icon">
                        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
                    </svg>
                </div>
                <div class="sidebar-guest-nav sidebar-guest-nav-features">
                    <span class="sidebar-guest-nav-text">Feature</span>
                    <svg viewBox="0 0 1024 1024" class="sidebar-guest-arrow-icon">
                        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
                    </svg>
                </div>
                <div class="sidebar-guest-nav sidebar-guest-nav-help">
                    <span class="sidebar-guest-nav-text">Help</span>
                    <svg viewBox="0 0 1024 1024" class="sidebar-guest-arrow-icon">
                        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
                    </svg>
                </div>
            </nav>
            <div class="sidebar-guest-sidebar-separator"></div>
            <a href="~/Identity/Account/Manage/Profile" style="width:100%;">
                <button class="sidebar-guest-login button">Profile Setting</button>
            </a>
            <button class="sidebar-login-logout button">Logout</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $(".sidebar-login-logout").click(function () {
            $.ajax({
                url: '/Identity/Account/Logout?handler=AccountLogout', // URL to your logout action method
                type: 'POST',
                headers: {
                    // 'X-CSRF-TOKEN': $('input[name="__RequestVerificationToken"]').val() // Include CSRF token for security
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    // Handle successful logout
                    console.log('Logout successful');
                    window.location.href = '/Identity/Account/Login'; // Redirect to home page or any other page after logout
                },
                error: function (xhr, status, error) {
                    // Handle error
                    alert('Logout failed:', error.toString(), " .Please try again.");
                    console.log(error);
                }
            });
        })

        $(document).click(function (event) {
            // Check if the clicked element is not the profile image
            if (!$(event.target).closest('#profile-image').length) {
                // If not, hide the profile expand container
                $(".profile-expand-container").addClass("hidden");
            }
        });

        $("#profile-image").click(function (event) {
            // Prevent the click event from bubbling up to the document
            event.stopPropagation();
            // Toggle the visibility of the profile expand container
            $(".profile-expand-container").toggleClass("hidden");
        });

        $("#more-option").click(function () {
            var $sidebar = $(".sidebar-guest-container");
            $sidebar.css("display", "flex");
        });

        $(".sidebar-guest-container").click(function () {
            var $sidebar = $(".sidebar-guest-container");
            $sidebar.css("display", "none");
        });

        $(".sidebar-guest-nav-home").click(function () {
            window.location.href = "/Home";
        })
        $(".sidebar-guest-nav-about").click(function () {
            window.location.href = "/About";
        })
        $(".sidebar-guest-nav-features").click(function () {
            window.location.href = "/Feature";
        })
        $(".sidebar-guest-nav-help").click(function () {
            window.location.href = "/Help";
        })
    });
</script>


