<style>
    .hidden {
        display: none !important;
        pointer-events: none !important;
        user-select: none;
    }
</style>
<div class="profile-expand-container hidden">
    <a href="~/Identity/Account/Manage/Profile"><div class="profile-expand-container-tab">Profile Settings</div></a>
    <a href="~/Help"><div class="profile-expand-container-tab">Help Center</div></a>
    <a href="~/Privacy"><div class="profile-expand-container-tab">Privacy Policy</div></a>
    <div class="profile-expand-container-seperator"></div>
    @* <a href="~/Identity/Account/Logout"> *@
        <div class="profile-expand-container-logout">Logout </div>
        @* </a> *@
</div>

<script>
    $(".profile-expand-container-logout").click(function () {
        $.ajax({
            url: '/Identity/Account/Logout?handler=AccountLogout', // URL to your logout action method
            type: 'POST',
            headers: {
                // 'X-CSRF-TOKEN': $('input[name="__RequestVerificationToken"]').val() // Include CSRF token for security
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function (data) {
                // Handle successful logout
                console.log('Logout successful');
                window.location.href = '/Identity/Account/Login'; // Redirect to home page or any other page after logout
            },
            error: function (xhr, status, error) {
                // Handle error
                alert('Logout failed:', error," .Please try again.");
            }
        });
    })
</script>

