<div>
    <div class="sidebar-login-container">
        <div class="sidebar-login-sidebar-vertical-container">
            <span class="sidebar-login-menu-text">Menu</span>
            <div class="sidebar-login-menu-separator"></div>
            <nav class="sidebar-login-menu-nav-list">
                <div class="sidebar-login-nav-container">
                    <svg viewBox="0 0 1024 1024" class="sidebar-login-nav-icon">
                        <path d="M426 854h-212v-342h-128l426-384 426 384h-128v342h-212v-256h-172v256z"></path>
                    </svg>
                    <span class="sidebar-login-nav-text">Home</span>
                    <svg viewBox="0 0 1024 1024" class="sidebar-login-nav-right-arrow">
                        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
                    </svg>
                </div>
                <div class="sidebar-login-nav-container">
                    <svg viewBox="0 0 1024 1024" class="sidebar-login-nav-icon">
                        <path d="M1002.934 817.876l-460.552-394.76c21.448-40.298 33.618-86.282 33.618-135.116 0-159.058-128.942-288-288-288-29.094 0-57.172 4.332-83.646 12.354l166.39 166.39c24.89 24.89 24.89 65.62 0 90.51l-101.49 101.49c-24.89 24.89-65.62 24.89-90.51 0l-166.39-166.39c-8.022 26.474-12.354 54.552-12.354 83.646 0 159.058 128.942 288 288 288 48.834 0 94.818-12.17 135.116-33.62l394.76 460.552c22.908 26.724 62.016 28.226 86.904 3.338l101.492-101.492c24.888-24.888 23.386-63.994-3.338-86.902z"></path>
                    </svg>
                    <span class="sidebar-login-nav-text">Management</span>
                    <svg viewBox="0 0 1024 1024" class="sidebar-login-nav-right-arrow">
                        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
                    </svg>
                </div>
                <div class="sidebar-login-nav-container">
                    <svg viewBox="0 0 1024 1024" class="sidebar-login-nav-icon">
                        <path d="M832 960l192-512h-832l-192 512zM128 384l-128 576v-832h288l128 128h416v128z"></path>
                    </svg>
                    <span class="sidebar-login-nav-text">Projects</span>
                    <svg viewBox="0 0 1024 1024" class="sidebar-login-nav-right-arrow">
                        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
                    </svg>
                </div>
                <div class="sidebar-login-nav-container">
                    <svg viewBox="0 0 1024 1024" class="sidebar-login-nav-icon">
                        <path d="M256 640c0 0 58.824-192 384-192v192l384-256-384-256v192c-256 0-384 159.672-384 320zM704 768h-576v-384h125.876c10.094-11.918 20.912-23.334 32.488-34.18 43.964-41.19 96.562-72.652 156.114-93.82h-442.478v640h832v-268.624l-128 85.334v55.29z"></path>
                    </svg>
                    <span class="sidebar-login-nav-text">Shared</span>
                    <svg viewBox="0 0 1024 1024" class="sidebar-login-nav-right-arrow">
                        <path d="M366 708l196-196-196-196 60-60 256 256-256 256z"></path>
                    </svg>
                </div>
            </nav>
            <div class="sidebar-login-profile-separator"></div>
            <div class="sidebar-login-profile-container">
                <img id="profile-pic" alt="image"
                     src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;w=200"
                     class="sidebar-login-profile-image" />
                <div class="sidebar-login-profile-text-container">
                    <span class="sidebar-login-profile-name">John Doe</span>
                    <span class="sidebar-login-view-profile">View Profile</span>
                </div>
            </div>
        </div>
    </div>
</div>